# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Unity meta cache
*.pidb.meta
*.pdb.meta

# OS files
.DS_Store
Thumbs.db
